
.container{
    
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    
    input, button{
        padding: .5rem 1rem;
        font-size: 1.3rem;
    }

    input {
        display: block;
        margin-bottom: 1rem;
        background-color: gray;
        // width: 150px;
    }

    button{
        width: 200px;
        // margin-inline: auto;
    }

    
}

